/*
 *= require_tree .
 *= require_self
*/

html {
    height:100%;
    width:100%;
}
body {
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
}

.sos {
    border: 2px solid green;
}

.new_game {
    outline: 0;
    float: right;
    width: 20%;
}

.options {
  width: 80%;
  float:left;
}

.clear{
    clear: both;
}
